@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #e6eae8;
}

a {
  color: #007bff;
  text-decoration: none;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #7d5fff;
  border-bottom: 0.25em solid #7158e2;
  margin: 0 0 10px;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 200%;
  position: relative;
  top: 9px;
  color: #2d45b7;
  text-shadow: #030b30 0.5px 0.5px 0px;
}

.logo a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a{
  position: relative;
  color: white;
  font-size: 17px;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 7px solid #3867d6;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.wrapper a:hover {
  color: #007bff;
  text-decoration: none;
}

.column {
  background-color: white;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.user_details {
  width: 265px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: -1px;
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 170px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 11%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #7d5fff;
  font-family: 'Bellota-BoldItalic',sans-serif;
  color: #2d45b7;
  text-shadow: #030b30 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 50x;
  min-height: 75px;
  cursor: pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.post_profile_pic img {
  border-radius: 25px; /*Set to 5px to make squircle profile pic*/
}

#comment_iframe {
  min-height: 250xp;
  width: 100%;
  margin-top: 5px;
}

.comment_section {
  padding: 0px 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 25px;
}

#comment_form textarea {
  border-color: #d3d3d3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  color: #2d45b7;
  background-color: #7d5fff;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: 'Bellota-BoldItalic',sans-serif;
  text-shadow: #030b30 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
  padding: 0;
  text-decoration: none;
  color: #007bff;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0;
  height: 17px;
  width: 120px;
}

.comment_like {
  border: none;
  color: #2d45b7;
  background-color: transparent;
  font-size: 14px;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  top: -10px;
  width: 17%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #7d5fff;
  border-right: 10px solid #7158e2;
  color: #031c49;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #4730af;
  border-radius: 100px;
}

.profile_info {
  background-color: #596ce7;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  text-align: justify;
  margin: 0 0 0 50px;
  word-wrap: break-word;
}

.profile_left input[type="submit"] {
  margin-left: 10px;
  width: 90%;
  margin: 7px 0 0 7px;
  border: none;
}

#accept_button {
  width: 20%;
  margin: 5px;
  border: none;
}

#ignore_button {
  width: 20%;
  margin: 5px;
  border: none;
}

.delete_button {
  height: 25px;
  width: 25px;
  padding: 0;
  float: right;
  right: -15px;
  position: relative;
}

.profile_main_column{
  min-width: 675px;
  float: left;
  width: 70%;
  z-index: -1;
}

.profile_info_bottom {
  margin: 20px 0 0 20px;
  /*pointer-events: none;*/
}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  height: 42px;
}

#message_submit {
  height: 42px;
  width: 120px;
  margin: 0;
  position: absolute;
  font-family: 'Bellota-BoldItalic',sans-serif;
}

.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px 4px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
  margin-bottom: 5px;
}

.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
  margin-bottom: 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 216px;
  overflow: scroll;
}

.user_found_messages {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: #d3d3d3;
}

#grey {
  color: #8c8c8c;
}

.resultDisplay {
  padding: 5px 5px 0 5px;
  height: 70px;
  border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a {
  float: none;
}

.resultDisplay:hover {
  background-color: #EBEBEB;
  text-decoration: none;
}

.liveSearchProfilePic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.liveSearchText {
  background-color: transparent;
  color: #171c99;
}

.liveSearchText p {
  margin-left: 10px;
  font-size: 12px;
}

.tab-content {
  margin-top: 25px;
}

.dropdown_data_window {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  left: 8px;
  top: -5px;
}

.resultDisplayNotification {
  /*height: auto;*/
  color: #1485BD;
  padding-bottom: 4px;
}

.notificationsProfilePic img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.search {
  margin: 8px 0 0 15%;
}

.search #search_text_input {
  border: thin solid #E5E5E5;
  float: left;
  height: 23px;
  outline: 0;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button_holder {
  background-color: #f1f1f1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 23px;
  text-align: center;
  width: 50px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.button_holder img {
  margin-top: 1px;
  width: 20px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_results_footer {
  padding: 7px 4px 0 4px;
  height: 30px;
  border: 1px solid #DADADA;
  border-top: none;
  background-color: #20AAE5;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

#searchMutual {
  color: #8c8c8c;
  margin-top: -10px;
}