@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #e6eae8;
}

a {
  color: #007bff;
  text-decoration: none;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #7d5fff;
  border-bottom: 0.25em solid #7158e2;
  margin: 0 0 10px;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 200%;
  position: relative;
  top: 9px;
  color: #2d45b7;
  text-shadow: #030b30 0.5px 0.5px 0px;
}

.logo a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a{
  position: relative;
  color: white;
  font-size: 17px;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 7px solid #3867d6;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.wrapper a:hover {
  color: #007bff;
  text-decoration: none;
}

.column {
  background-color: white;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.user_details {
  width: 265px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: -1px;
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 60px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 11%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #7d5fff;
  font-family: 'Bellota-BoldItalic',sans-serif;
  color: #2d45b7;
  text-shadow: #030b30 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 50x;
  min-height: 75px;
  cursor: pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.post_profile_pic img {
  border-radius: 25px; /*Set to 5px to make squircle profile pic*/
}

#comment_iframe {
  min-height: 250xp;
  width: 100%;
  margin-top: 5px;
}

.comment_section {
  padding: 0px 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 25px;
}

#comment_form textarea {
  border-color: #d3d3d3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  color: #2d45b7;
  background-color: #7d5fff;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: 'Bellota-BoldItalic',sans-serif;
  text-shadow: #030b30 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
  padding: 0;
  text-decoration: none;
  color: #007bff;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0;
  height: 17px;
  width: 120px;
}

.comment_like {
  border: none;
  color: #2d45b7;
  background-color: transparent;
  font-size: 14px;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}